@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* Estilo padrão */

.bg-caminar {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.inner {
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.75);
}

/* Header */
.header .logo-text {
    margin-bottom: 60px;
}
.header .logo-text .title-header {
    text-align: center;
    margin: 100px 0 -5px 0;
}

.header .logo-text .title-header .logo {
    font-size: 59px;
    line-height: 15px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

.header .logo-text .text-header {
    font-size: 15px;
    line-height: 15px;
    font-weight: 300;
    color: rgb(255, 255, 255, 0.65);
    text-align: center;
    margin: 0;
}

/* Box one */
.one .image-1 {
    display: block;
    width: 100%;
}

.one .box-branco {
    background: #fff;
    padding: 50px 30px 50px 30px;
    text-align: center;
}

.one .box-branco .title-black {
    font-size: 26px;
    line-height: 39px;
    font-weight: 700;
    color: #1e1f23;
    margin: 0 0 20px 0;
}

.one .box-branco .text-clear {
    font-size: 12px;
    line-height: 19px;
    font-weight: 300;
    color: #bbb;
    text-transform: uppercase;
    margin: 0;
}

.one .box-cinza {
    background: #F4F4F4;
    padding: 90px;
}

.one .box-cinza .text1 {
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
    margin: 0 0 30px 0;
}

.one .box-cinza .text2 {
    font-size: 15px;
    line-height: 24px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
}